<%= render 'layouts/navbar' %>
<%= render 'layouts/sidebar' %>

<main style="margin-left: 250px; padding:70px; margin-top: 50px;">
  <div class="container">
    <h1>Welcome to 1CISP</h1>
    <p>Claim your Insurance!</p>
  </div>
</main>

