<%= render 'layouts/navbar' %>
<%= render 'layouts/sidebar' %>


<main style="margin-left: 250px; padding: 70px; margin-top: 50px;">
    <h1> Manage Claim </h1>
</main>

<table> 
    <thead>
        <tr>
            <th> Name </th>
        </tr>
    </thead>
</table>